html, body{
	height: 105%;
	margin: 0;
}

.navbar {
	height: 40px;
	background-color: black;
	display: block;
}

.head_paragraph {
	float: left;
	padding: 8px 16px;
	color: white;
}

.image-container {
	position: relative;
  margin: auto;

}

#img1 {
	width: 100%;
}

.article-container {
	max-width: 600px;
	display: block;
	margin: auto;
	text-align: center;
	font-family: "Segoe UI",Arial,sans-serif;
}

.footer-container {
	display: block;
	background-color: black;
	color: aliceblue;
	font-family: serif;
	text-align: center;
	padding: 10px
}
